.portrait-chelsea-greene {
    object-position: 50% 60%;
}

.portrait-jodie-kiyokawa {
    object-position: 50% 10%;
}

.portrait-claire-renoe {
    object-position: 50% 10%;
}

.portrait-joy-cheng {
    object-position: 50% 45%;
}

.portrait-steve-chung {
    object-position: 50% 50%;
}

.portrait-madeline-ellmore {
    object-position: 50% 100%;
}

.portrait-vincent-lin {
    object-position: 50% 50%;
}

.portrait-elliot-kang {
    object-position: 50% 0%;
}

.portrait-warren-wu {
    object-position: 50% 0%;
}

.portrait-david-xu {
    object-position: 50% 40%;
}

.portrait-preyasi-kumar {
    object-position: 50% 0%;
}

.portrait-deena-doan {
    object-position: 50% 50%;
}

.portrait-brandon-tang {
    width: 160%;
    transform: translate(-12%, 0%);
    object-position: 50% 77%;
}

.portrait-sandra-pan {
    width: 125%;
    transform: translate(-8%, 0%);
    object-position: 50% 52%;
}

.portrait-amanda-lo {
    width: 135%;
    transform: translate(-11%, 0%);
    object-position: 50% 30%;
}

.portrait-lani-jacobson {
    height: 110%;
    transform: translate(0%, -8%);
    object-position: 50% 50%;
}

.img-pediatric-aids-coalition::after {
    padding-bottom: 56.155%;
}

.img-dwc::after {
    padding-bottom: 80%;
}

.img-people-animal-connection::after {
    padding-bottom: 75%;
}

.img-lacc::after {
    padding-bottom: 75%;
}

.img-alla::after {
    padding-bottom: 75%;
}